:root {
  --primary-color: #2b2d42;
  --text-color: #f3f7f8;
  --second-color: #8d99ae;
  --third-color: #ef233c;
}


.exercises{
  width: 100vw;
  min-height: 85vh;}

.exercise--container{
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.exerciseFilterBar{
  margin-top: 10vh;
  min-width: 50%;
  height: calc(3vw + 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.barSelect{
  font-size: calc(0.9vw + 10px);
  width: 40vw;
  height: 100%;
  border-collapse: collapse;
  background-color: #8d99ae;
}


optgroup{
  font-size: calc(0.7vw + 10px);
}
.searchButton{
  width:20%;
  height: 100%;
  border: none;
  text-decoration: none;
  border-collapse: collapse;
  cursor: pointer;
  font-size: calc(0.5vw + 7px);

}

.searchButton:hover{
  background-color: cornflowerblue;
}
.exerciseItemCard--container{
  width: 100vw;
  min-height: 85vh;
  display: grid;
  grid-template-columns: calc(16vw + 35px) calc(16vw + 35px) calc(16vw + 35px);
  grid-auto-rows: calc(28vw + 35px);
  justify-content: space-around;
  row-gap: 5vh;
  
}

.exercise--itemCard{
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  font-size: calc(0.5vw + 4px);
}

.star--container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(9px + 2vw);
  color: gold;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
}
.exercise--gif{
  height: 85%;
  width: 100%;
}

.exercise--propertiesContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2vh;
  overflow-y:visible;
  min-height: 15%;
  font-size: calc(0.5vw + 8px)
}
.exercise--propertiesContainer > div {
  overflow-y: visible;
}

