:root {
    --primary-color: #2b2d42;
    --text-color: #f3f7f8;
    --second-color: #8d99ae;
    --third-color: #ef233c;
  }


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image--container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0vw;
    width: 100vw;
    height: 120vh;
    background-image: linear-gradient(to right bottom, #bdc4d098 , #f3f3f494), url(../images/homeimage.jpg);
    background-size: cover;
    background-position: center;
}
.cards--container {
    top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 5vh;
    
}

.card {
    width: calc(15vw + 2rem);
    height: 45vh;
    background-image: linear-gradient(to right bottom, var(--primary-color), var(--second-color), var(--text-color));
    text-align: center;
    border-radius: 20px;
    transition-duration: 1s;
    margin: 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    box-shadow: 0px 0px 5px 10px rgba(66, 68, 90, 1);

}
.card--image{
    font-size: calc(5vw + 5px);
}

.card--text{
    display: none;
    font-size: calc(1vw + 8px);
    font-weight: 600;
}
.card:hover{
    justify-content: space-around;

}
.card:hover > .card--text{
    display: block;
}

.image--button {
    margin-bottom: 5vh;
    width: 25vw;
    height: 10vw;
    border: none;
    text-align: center;
    font-size: calc(3.5vw);
    letter-spacing: 0.1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 15px;
    background-image: linear-gradient(to right bottom, #f3f7f8, #8d99ae);
    color: var(--primary-color);
    line-height: 110%;
    cursor: pointer;
    box-shadow: 0px 0px 37px 10px rgba(66, 68, 90, 1);
}