:root {
    --primary-color: #2b2d42;
    --text-color: #f3f7f8;
    --second-color: #8d99ae;
    --third-color: #ef233c;
  }


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2cfd2;
    min-height: 100vh;
}
.firstSection{
    height: calc(50vw + 100px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.firstSection--text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    font-size: calc(4.5vw + 5px);
    background-color: #c2cfd2;
    height: 100%;
}

.firstSection--text > div > span{
    font-size: calc(5vw + 15px);
    font-weight: 700;

}
.image--container {
    width: 40%;
    height: 100%;
    background-image:url(../images/homeimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home--welcome {
    font-size: calc(3vw + 10px);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
.cards--container {
    top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 5vh;
    
}

.card {
    width: calc(15vw + 2rem);
    height: 25vw;
    background-color: var(--text-color);
    text-align: center;
    border-radius: 20px;
    transition-duration: 1s;
    margin: 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    border: 0.3vw solid black;

}
.card--image{
    font-size: calc(5vw + 5px);
}

.card--text{
    display: none;
    font-size: calc(1vw + 8px);
    font-weight: 600;
}
.card:hover{
    justify-content: space-around;

}
.card:hover > .card--text{
    display: block;
}

.image--button {
    margin-bottom: 5vh;
    width: calc(25vw + 30px);
    height: calc(8vw + 30px);
    border: none;
    text-align: center;
    font-size: calc(3.5vw);
    letter-spacing: 0.1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 15px;
    background-color: var(--text-color);
    color: var(--primary-color);
    line-height: 110%;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgb(0, 0, 0);
}


.home--secondSection {
    height: calc(50vw + 100px);
    width: 100vw;
    background-color: #c2cfd2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

