:root {
    --primary-color: #2b2d42;
    --text-color: #f3f7f8;
    --second-color: #8d99ae;
    --third-color: #ef233c;
  }


.workouts{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.workoutscontainer {
    width: 90vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    align-items: center;
    background-color: var(--second-color);
    border: 0.5vw solid var(--primary-color);
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.workoutitem {
    width: 90%;
    background-color: #2b2d42;
    min-height: 20vh;
    margin-top: 2vh;
    padding: 0.2vw 2vw;
    border-radius: 20px;
}
.workoutitem > h3 {
    text-align: center;
}
.workoutitem--row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.workoutExercises{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--text-color);
    padding: 1vh 0.2vw;
    margin: 1vh 0;


}
.addworkoutbutton {
    font-size: 40px;
    width: 4vw;
    height: 4vw;
    border-radius: 45%;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--third-color);
    color: var(--text-color);
    cursor: pointer;
}

.workoutform{
    margin-top: 5vh;
    min-height: 50vh;
    width: 70%;
    background-color: #ef233c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vw;
    text-align: center;
    

}

.workoutform > input {
    padding: 0.5vw;
    text-align: center;
}
.workoutform > select {
    text-align: center;
    padding: 0.5vw;
}
.workoutform > label{
    font-weight: 600;
}

.button--bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(1vw + 5px);
}

.button--bar > button {
    width: calc(25% + 20px);
    height: 5vh;
    margin: 0 5%;
    text-decoration: none;
    border-radius: 20px;
    border: 0;
    background-color: #f3f7f8;
    font-weight: 600;

}

.button--bar > button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
}
