*{
    box-sizing: border-box;
}

:root {
    --primary-color: #2b2d42;
    --text-color: #f3f7f8;
    --second-color: #8d99ae;
    --third-color: #ef233c;
  }


.workouts{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);

}

.workoutscontainer {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.workoutitem {
    margin: 2.5vw 0;
    width: 90%;
    background-color: var(--third-color);
    border: 2px var(--third-color) solid;
    min-height: calc(17.5vw + 40px);
    padding: 1vw 1vw 2.5vw 1vw;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.workoutitem-name{
    font-size: calc(1.5vw + 9px);
    font-weight: bold;
}

.workoutitem--row{
    position: relative;
    width: 100%;
    font-size: calc(0.8vw + 5px);
    height: 5vh;
    overflow: hidden;
}
.workoutitem--row-first{
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
}

.workoutitem--row-second{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
.workoutitem--row-third{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.workoutExercises{
    position: relative;
    background-color: var(--text-color);
    height: calc(2vw + 7px);
    padding: 2.5vh 1vw;
    margin: 1vh 0;
    border-radius: 15px;
    font-size: calc(0.7vw + 9px);
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;



}
.workoutExercises > div > input{
    font-size: calc(0.7vw + 9px);
    height: calc(2vw + 7px);

}
.exerciseFirstInput{
    width: 20vw;
}
.exerciseSecondInput {
    width: 5vw;
}
.exerciseThirdInput {
    width: 5vw;
}
.exerciseFourthInput{
    width: 8vw;
}

.workoutExercises-first{
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
}
.workoutExercises-second{
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);

}
.workoutExercises-third{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);

}
.workoutExercises-fourth{
    left: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.workoutExercises-fifth{
    right: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;

}

.buttonContainer > *{
    border-radius: 20px;
    width: calc(2vw + 5px);
    height: calc(2vw + 5px) ;
    margin-right: 0.5vw;
    border: none;
    text-decoration: none;
    font-size: calc(1vw + 5px);
    background-color: lightgreen;
    cursor: pointer;
}

.addworkoutbutton {
    font-size: 40px;
    width: calc(2.7vw + 30px);
    height: calc(2.7vw + 30px);
    border-radius: 45%;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--third-color);
    color: var(--text-color);
    cursor: pointer;
}

.workoutform{
    margin-top: 5vh;
    min-height: 50vh;
    width: 70%;
    background-color: #ef233c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vw;
    text-align: center;
    

}

.workoutform > input {
    padding: 0.5vw;
    text-align: center;
}
.workoutform > select {
    text-align: center;
    padding: 0.5vw;
}
.workoutform > label{
    font-weight: 600;
}

.button--bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(1vw + 5px);
}

.button--bar > button {
    width: calc(25% + 20px);
    height: 5vh;
    margin: 0 5%;
    text-decoration: none;
    border-radius: 20px;
    border: 0;
    background-color: #f3f7f8;
    font-weight: 600;

}

.button--bar > button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
}
