/* global */

* {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

/* modal and form inside */

.modalForm {
  position: absolute;
  min-width: 30vw;
  max-width: 50vw;
  min-height: 50vh;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 0.1rem solid rgb(223, 87, 87);
  border-radius: 10%;
  background-color: rgb(223, 87, 87);

  text-align: center;
  font-family: sans-serif;
}
.modalForm > button {
  padding: 0.75rem 2rem;
  margin-bottom: 1vw;
  border: 0;
}

.modalForm > h2 {
  margin-top: 5vh;
}

.modalForm > div {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.text--input {
  padding: 0.5vw;
}
.modalForm > select {
  padding: 0.5vw;
}

/* header */

.header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  width: 100vw;
}

/* navbar */

.navbar {
  position: absolute;
  right: 0;
  width: 20vw;
  top: 15vh;
  height: 85vh;
  background-color: black;
}

.navbar--icon {
  display: block;
  position: absolute;
  right: 0vw;
  top: 15vw;
  width: 3vw;
  height: 3vw;
  background-color: red;
}
